{% extends "chirp/layouts/boost.html" %}
{% block title %}{{ title | default("LLM Playground") }}{% end %}
{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,600;1,9..40,400&family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/chirpui.css">
<link rel="stylesheet" href="/static/themes/holy-light.css">
<link rel="stylesheet" href="/static/playground/playground.css">
{% end %}
